extends layout

block content 
    .container-fluid.p-0.m-0.body
        section#hero
            .card.bg-dark.text-white
                img.card-img.banner_cliente(src="", alt="hero de pagina")
                .card-img-overlay.d-flex.justify-content-center.align-items-center
                    h1 Clientes
        section#bread
            .container-fluid
                .row.col-12.col-xl-10.offset-xl-1
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb.pb-4.pt-4.mb-0
                            li.breadcrumb-item
                                a(href='/') Inicio
                            li.breadcrumb-item.active(aria-current='page') Clientes
        section#enlaces
            .container-fluid
                .row.justify-content-center
                    .col-10.contenedor-cartas
                        .row.justify-content-center
                            .col-12.col-md-6.col-xl-4.d-flex.justify-content-center.pt-4
                                a(href= link_propietarios, target='_blank', rel='noopener noreferrer')
                                    .card(style='width: 18rem;')
                                        img.card-img-top(src='static/images/propietarios.png', alt='Card image cap')
                                    .card-body
                                        h5.card-title.text-center Propietarios
                            .col-12.col-md-6.col-xl-4.d-flex.justify-content-center.pt-4
                                a(href= link_arredatarios, target='_blank', rel='noopener noreferrer')
                                    .card(style='width: 18rem;')
                                        img.card-img-top(src='static/images/arrendatarios.png', alt='Card image cap')
                                    .card-body
                                        h5.card-title.text-center Arrendatarios
                            .col-12.col-md-6.col-xl-4.d-flex.justify-content-center.pt-4
                                a(href= link_pse, target='_blank', rel='noopener noreferrer')
                                    .card(style='width: 18rem;')
                                        img.card-img-top(src='static/images/pagos_pse.png', alt='Card image cap')
                                    .card-body
                                        h5.card-title.text-center Pagos PSE
                            .col-10.mt-4.pl-4.pr-4
                                h3.text-center.pb-3 Descargar Formularios Aseguradoras
                                .card.descargar-formularios
                                    .card-body.d-flex
                                        a.pl-4(href='https://cuadraporcuadra.com/formatos/natural.html', target='_blank')
                                            i.far.fa-file-pdf
                                            |Personas Naturales Unifianzas
                                        a.ml-auto.pr-4(href='https://cuadraporcuadra.com/formatos/juridica.html', target='_blank')
                                            i.far.fa-file-pdf
                                            |Personas Juridicas Unifianzas
